<?xml version="1.0" encoding="utf-8"?>

<robot name="sentry"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="livox_frame" />

  <link name = "base_link_slam" />

  <joint name="base_joint" type="fixed">
    <origin xyz="-0.105 0.0 -0.460" rpy="0.0 0.0 0.0" />
    <parent link="livox_frame" />
    <child link="base_link_slam" />
    <axis xyz= "0 1 0" />
  </joint>
</robot>
